In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as sts

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder

Loan Data
General Overview:
Shape: 20,000 rows and 36 columns. No Missing Values: None of the columns have missing data.

# Description
* ApplicationDate (Object): Date when the loan application was submitted.
* Age(Integer): Applicant's age.
* AnnualIncome(Integer): Applicant's annual income.
* CreditScore (Integer): Credit score of the applicant.
* EmploymentStatus (Object): Employment status (e.g., Employed, Unemployed).
* EducationLevel (Object): Applicant's education level.
* Experience (Integer): Work experience in years.
* LoanAmount (Integer): Amount of the loan requested.
* LoanDuration (Integer): Duration of the loan in months.
* MaritalStatus (Object): Marital status of the applicant.
* NumberOfDependents (Integer): Number of dependents.
* HomeOwnershipStatus (Object): Homeownership status (e.g., Own, Rent).
* MonthlyDebtPayments (Integer): Monthly debt payments.
* CreditCardUtilizationRate(Float): Credit card utilization rate.
* NumberOfOpenCreditLines (Integer): Number of open credit lines.
* NumberOfCreditInquiries (Integer): Number of credit inquiries.
* DebtToIncomeRatio (Float): Debt-to-income ratio.
* BankruptcyHistory (Integer): History of bankruptcies (binary).
* LoanPurpose (Object): Purpose of the loan.
* PreviousLoanDefaults (Integer): Number of defaults on previous loans.
* PaymentHistory(Integer): Payment history score.
* LengthOfCreditHistory (Integer): Length of credit history in years.
* SavingsAccountBalance (Integer): Balance in savings account.
* CheckingAccountBalance(Integer): Balance in checking account.
* TotalAssets(Integer): Total assets of the applicant.
* TotalLiabilities(Integer): Total liabilities of the applicant.
* MonthlyIncome(Float): Monthly income of the applicant.
* UtilityBillsPaymentHistory (Float): Payment history of utility bills.
* JobTenure (Integer): Job tenure in years.
* NetWorth (Integer): Net worth of the applicant.
* BaseInterestRate(Float): Base interest rate.
* InterestRate (Float): Actual interest rate applied to the loan.
* MonthlyLoanPayment (Float): Monthly payment for the loan.
* TotalDebtToIncomeRatio(Float): Total debt-to-income ratio.
* LoanApproved (Integer): Loan approval status (binary).
* RiskScore (Float): Risk score for the applicant.

# Problem Statement:
Objective:

Develop a predictive model to assess whether a loan application should be approved based on applicant details and financial attributes. This will help financial institutions streamline loan approval processes and minimize risks associated with defaults.

Key Challenges:

Loan Approval Prediction: Analyze historical data to identify patterns and key factors influencing loan approval decisions.
Risk Assessment: Determine applicant risk scores and identify high-risk applicants based on their financial and credit history.
Optimal Interest Rates: Understand the relationship between applicant attributes and assigned interest rates to ensure fairness and profitability.
Feature Analysis: Identify the most significant factors (e.g., credit score, income, liabilities) impacting loan approvals and defaults.
Outlier Detection: Identify anomalies in the dataset that may distort the predictive model's accuracy.

# Target variable is LoanApproved

# Understanding the data

In [ ]:
df=pd.read_csv('/content/Loan - Loan.csv')
df

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179141,0.070210,1,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2072-09-29,44,30180,587,Employed,High School,19,24521,36,Married,...,2515.000000,0.826217,1,55327,0.216021,0.195574,905.767712,0.627741,0,55.0
19996,2072-09-30,56,49246,567,Employed,Associate,33,25818,36,Married,...,4103.833333,0.816618,3,64002,0.227318,0.199168,958.395633,0.334418,0,54.0
19997,2072-10-01,44,48958,645,Employed,Bachelor,20,37033,72,Married,...,4079.833333,0.887216,3,103663,0.229533,0.226766,945.427454,0.357227,0,45.0
19998,2072-10-02,60,41025,560,Employed,High School,36,14760,72,Married,...,3418.750000,0.843787,5,10600,0.249760,0.264873,411.168284,0.408678,0,59.0
19999,2072-10-03,20,53227,574,Employed,Associate,0,32055,48,Married,...,4435.583333,0.853801,5,41372,0.240055,0.242693,1049.830407,0.298006,0,59.0

In [ ]:
df.shape

(20000, 36)

In [ ]:
df.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179141,0.070210,1,36.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             20000 non-null  object
 1   Age                         20000 non-null  int64
 2   AnnualIncome                20000 non-null  int64
 3   CreditScore                 20000 non-null  int64
 4   EmploymentStatus            20000 non-null  object
 5   EducationLevel              20000 non-null  object
 6   Experience                  20000 non-null  int64
 7   LoanAmount                  20000 non-null  int64
 8   LoanDuration                20000 non-null  int64
 9   MaritalStatus               20000 non-null  object
 10  NumberOfDependents          20000 non-null  int64
 11  HomeOwnershipStatus         20000 non-null  object
 12  MonthlyDebtPayments         20000 non-null  int64
 13  CreditCardUtilizationRate   20000 non-null  float64
 14  NumberOfOpenCreditLines     20000 non-null  int64
 15  NumberOfCreditInquiries     20000 non-null  int64
 16  DebtToIncomeRatio           20000 non-null  float64
 17  BankruptcyHistory           20000 non-null  int64
 18  LoanPurpose                 20000 non-null  object
 19  PreviousLoanDefaults        20000 non-null  int64
 20  PaymentHistory              20000 non-null  int64
 21  LengthOfCreditHistory       20000 non-null  int64
 22  SavingsAccountBalance       20000 non-null  int64
 23  CheckingAccountBalance      20000 non-null  int64
 24  TotalAssets                 20000 non-null  int64
 25  TotalLiabilities            20000 non-null  int64
 26  MonthlyIncome               20000 non-null  float64
 27  UtilityBillsPaymentHistory  20000 non-null  float64
 28  JobTenure                   20000 non-null  int64
 29  NetWorth                    20000 non-null  int64
 30  BaseInterestRate            20000 non-null  float64
 31  InterestRate                20000 non-null  float64
 32  MonthlyLoanPayment          20000 non-null  float64
 33  TotalDebtToIncomeRatio      20000 non-null  float64
 34  LoanApproved                20000 non-null  int64
 35  RiskScore                   20000 non-null  float64
dtypes: float64(9), int64(21), object(6)
memory usage: 5.5+ MB

In [ ]:
df.columns

Index(['ApplicationDate', 'Age', 'AnnualIncome', 'CreditScore',
       'EmploymentStatus', 'EducationLevel', 'Experience', 'LoanAmount',
       'LoanDuration', 'MaritalStatus', 'NumberOfDependents',
       'HomeOwnershipStatus', 'MonthlyDebtPayments',
       'CreditCardUtilizationRate', 'NumberOfOpenCreditLines',
       'NumberOfCreditInquiries', 'DebtToIncomeRatio', 'BankruptcyHistory',
       'LoanPurpose', 'PreviousLoanDefaults', 'PaymentHistory',
       'LengthOfCreditHistory', 'SavingsAccountBalance',
       'CheckingAccountBalance', 'TotalAssets', 'TotalLiabilities',
       'MonthlyIncome', 'UtilityBillsPaymentHistory', 'JobTenure', 'NetWorth',
       'BaseInterestRate', 'InterestRate', 'MonthlyLoanPayment',
       'TotalDebtToIncomeRatio', 'LoanApproved', 'RiskScore'],
      dtype='object')

# Data cleaning

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             20000 non-null  object
 1   Age                         20000 non-null  int64
 2   AnnualIncome                20000 non-null  int64
 3   CreditScore                 20000 non-null  int64
 4   EmploymentStatus            20000 non-null  object
 5   EducationLevel              20000 non-null  object
 6   Experience                  20000 non-null  int64
 7   LoanAmount                  20000 non-null  int64
 8   LoanDuration                20000 non-null  int64
 9   MaritalStatus               20000 non-null  object
 10  NumberOfDependents          20000 non-null  int64
 11  HomeOwnershipStatus         20000 non-null  object
 12  MonthlyDebtPayments         20000 non-null  int64
 13  CreditCardUtilizationRate   20000 non-null  float64
 14  NumberOfOpenCreditLines     20000 non-null  int64
 15  NumberOfCreditInquiries     20000 non-null  int64
 16  DebtToIncomeRatio           20000 non-null  float64
 17  BankruptcyHistory           20000 non-null  int64
 18  LoanPurpose                 20000 non-null  object
 19  PreviousLoanDefaults        20000 non-null  int64
 20  PaymentHistory              20000 non-null  int64
 21  LengthOfCreditHistory       20000 non-null  int64
 22  SavingsAccountBalance       20000 non-null  int64
 23  CheckingAccountBalance      20000 non-null  int64
 24  TotalAssets                 20000 non-null  int64
 25  TotalLiabilities            20000 non-null  int64
 26  MonthlyIncome               20000 non-null  float64
 27  UtilityBillsPaymentHistory  20000 non-null  float64
 28  JobTenure                   20000 non-null  int64
 29  NetWorth                    20000 non-null  int64
 30  BaseInterestRate            20000 non-null  float64
 31  InterestRate                20000 non-null  float64
 32  MonthlyLoanPayment          20000 non-null  float64
 33  TotalDebtToIncomeRatio      20000 non-null  float64
 34  LoanApproved                20000 non-null  int64
 35  RiskScore                   20000 non-null  float64
dtypes: float64(9), int64(21), object(6)
memory usage: 5.5+ MB

In [ ]:
df.duplicated().sum()

0

# Descriptive statistics

In [ ]:
df.describe()

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,...,20000.000000,20000.000000,20000.000000,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,39.752600,59161.473550,571.612400,17.522750,24882.867800,54.057000,1.517300,454.292700,0.286381,3.023350,...,4891.715521,0.799918,5.002650,7.229432e+04,0.239124,0.239110,911.607052,0.402182,0.239000,50.766780
std,11.622713,40350.845168,50.997358,11.316836,13427.421217,24.664857,1.386325,240.507609,0.159793,1.736161,...,3296.771598,0.120665,2.236804,1.179200e+05,0.035509,0.042205,674.583473,0.338924,0.426483,7.778262
min,18.000000,15000.000000,343.000000,0.000000,3674.000000,12.000000,0.000000,50.000000,0.000974,0.000000,...,1250.000000,0.259203,0.000000,1.000000e+03,0.130101,0.113310,97.030193,0.016043,0.000000,28.800000
25%,32.000000,31679.000000,540.000000,9.000000,15575.000000,36.000000,0.000000,286.000000,0.160794,2.000000,...,2629.583333,0.727379,3.000000,8.734750e+03,0.213889,0.209142,493.763700,0.179693,0.000000,46.000000
50%,40.000000,48566.000000,578.000000,17.000000,21914.500000,48.000000,1.000000,402.000000,0.266673,3.000000,...,4034.750000,0.820962,5.000000,3.285550e+04,0.236157,0.235390,728.511452,0.302711,0.000000,52.000000
75%,48.000000,74391.000000,609.000000,25.000000,30835.000000,72.000000,2.000000,564.000000,0.390634,4.000000,...,6163.000000,0.892333,6.000000,8.882550e+04,0.261533,0.265532,1112.770758,0.509214,0.000000,56.000000
max,80.000000,485341.000000,712.000000,61.000000,184732.000000,120.000000,5.000000,2919.000000,0.917380,13.000000,...,25000.000000,0.999433,16.000000,2.603208e+06,0.405029,0.446787,10892.629520,4.647657,1.000000,84.000000

In [ ]:
df.describe(include=object)

,ApplicationDate,EmploymentStatus,EducationLevel,MaritalStatus,HomeOwnershipStatus,LoanPurpose
count,20000,20000,20000,20000,20000,20000
unique,20000,3,5,4,4,5
top,2018-01-01,Employed,Bachelor,Married,Mortgage,Home
freq,1,17036,6054,10041,7939,5925

In [ ]:
for column in df.columns:
  print(f"Value counts for column: {column}")
  print(df[column].unique())
  print("-" * 40)

Value counts for column: ApplicationDate
['2018-01-01' '2018-01-02' '2018-01-03' ... '2072-10-01' '2072-10-02'
 '2072-10-03']
----------------------------------------
Value counts for column: Age
[45 38 47 58 37 49 34 46 42 18 19 33 27 43 29 23 57 40 22 41 26 44 32 36
 62 39 25 24 48 31 52 35 51 56 30 50 69 53 66 28 21 55 20 72 80 67 65 61
 59 54 64 63 76 60 70 71 68 78 77 73 75 74 79]
----------------------------------------
Value counts for column: AnnualIncome
[39948 39709 40724 ... 30180 41025 53227]
----------------------------------------
Value counts for column: CreditScore
[617 628 570 545 594 626 564 516 603 612 478 591 573 580 597 605 582 644
 553 630 635 503 555 462 608 622 576 592 667 559 535 520 571 552 604 508
 655 595 590 500 530 631 627 519 653 526 586 615 498 499 616 607 600 527
 611 574 647 649 620 672 619 523 531 618 588 540 517 663 524 623 585 596
 610 562 645 601 539 509 587 656 487 536 565 558 680 525 609 572 634 602
 669 621 551 560 439 521 643 581 598 513 548 547 575 682 557 546 633 583
 568 625 614 511 654 652 579 515 606 472 640 550 593 613 490 510 566 522
 578 544 505 445 537 506 599 549 450 589 632 561 534 642 492 563 482 403
 494 476 467 380 438 542 465 431 533 584 650 577 460 475 569 484 567 456
 486 518 664 514 639 686 683 485 629 638 532 528 444 483 504 501 541 636
 624 543 554 451 493 648 659 512 471 641 497 661 556 432 658 495 455 678
 692 468 507 429 502 666 491 452 436 657 646 441 496 428 480 673 481 446
 412 479 671 529 637 488 651 489 414 538 466 677 679 457 447 470 424 427
 430 694 406 665 454 477 675 660 433 437 382 421 459 409 392 453 385 464
 426 469 442 422 397 449 668 415 394 474 676 662 407 402 413 696 693 411
 396 418 674 435 448 384 420 473 410 463 401 681 458 443 381 440 697 434
 702 387 670 398 404 461 343 419 423 685 695 703 416 362 399 425 389 707
 684 400 688 689 405 691 388 372 687 417 712 699 393 690 408 383]
----------------------------------------
Value counts for column: EmploymentStatus
['Employed' 'Self-Employed' 'Unemployed']
----------------------------------------
Value counts for column: EducationLevel
['Master' 'Associate' 'Bachelor' 'High School' 'Doctorate']
----------------------------------------
Value counts for column: Experience
[22 15 26 34 17 16 39 23 12 19 10 11 21  0  7 24  8 30 14 37  4 25  3 18
 20  1 13 31 27 28  5 33 29 38  9  6 49 41 36 35 51 61 42 43  2 32 40 45
 44 58 46 47 48 57 50 54 53 52 55 56 59 60]
----------------------------------------
Value counts for column: LoanAmount
[13152 26045 17627 ... 24521 25818 37033]
----------------------------------------
Value counts for column: LoanDuration
[ 48  36  96  72  12  60  84  24 120 108]
----------------------------------------
Value counts for column: MaritalStatus
['Married' 'Single' 'Divorced' 'Widowed']
----------------------------------------
Value counts for column: NumberOfDependents
[2 1 0 5 4 3]
----------------------------------------
Value counts for column: HomeOwnershipStatus
['Own' 'Mortgage' 'Rent' 'Other']
----------------------------------------
Value counts for column: MonthlyDebtPayments
[ 183  496  902 ... 1300 1399 1010]
----------------------------------------
Value counts for column: CreditCardUtilizationRate
[0.35441792 0.08782697 0.1374141  ... 0.21659619 0.3647577  0.5364105 ]
----------------------------------------
Value counts for column: NumberOfOpenCreditLines
[ 1  5  2  0  6  3  4  7 10  8  9 11 13 12]
----------------------------------------
Value counts for column: NumberOfCreditInquiries
[2 3 0 1 4 5 6 7]
----------------------------------------
Value counts for column: DebtToIncomeRatio
[0.3583356  0.33027367 0.24472911 ... 0.0230138  0.53451704 0.55343409]
----------------------------------------
Value counts for column: BankruptcyHistory
[0 1]
----------------------------------------
Value counts for column: LoanPurpose
['Home' 'Debt Consolidation' 'Education' 'Other' 'Auto']
----------------------------------------
Value counts for column: PreviousLoanDefaults
[0 1]
----------------------------------------
Value counts for column: PaymentHistory
[29 21 20 27 26 16 19 25 23 15 36 18 31 17 22 28 30 32 24 11 33 38 14 10
 41 35 34 12 13 40 37  9 39 43 42  8 44 45]
----------------------------------------
Value counts for column: LengthOfCreditHistory
[ 9 22 10 27 19 18 11 29  7 28  3 21 15 14  2 12  4  1 25 17 20  6 13 16
  8 24 26  5 23]
----------------------------------------
Value counts for column: SavingsAccountBalance
[ 7632  4627   886 ... 17188  6489  6910]
----------------------------------------
Value counts for column: CheckingAccountBalance
[ 1202  3460   895 ...  2633  5498 10813]
----------------------------------------
Value counts for column: TotalAssets
[146111  53204  25176 ... 108316  22085  83008]
----------------------------------------
Value counts for column: TotalLiabilities
[ 19183   9595 128874 ...  18395  80431  41636]
----------------------------------------
Value counts for column: MonthlyIncome
[3329.       3309.083333 3393.666667 ... 2515.       3418.75
 4435.583333]
----------------------------------------
Value counts for column: UtilityBillsPaymentHistory
[0.72497205 0.9351321  0.87224061 ... 0.88721575 0.84378689 0.85380136]
----------------------------------------
Value counts for column: JobTenure
[11  3  6  5  4  2 10 12  8  1  7  9  0 13 14 15 16]
----------------------------------------
Value counts for column: NetWorth
[126928  43609   5205 ...  64002  10600  41372]
----------------------------------------
Value counts for column: BaseInterestRate
[0.199652 0.207045 0.217627 ... 0.229533 0.24976  0.240055]
----------------------------------------
Value counts for column: InterestRate
[0.22758963 0.20107712 0.21254801 ... 0.22676636 0.26487268 0.2426933 ]
----------------------------------------
Value counts for column: MonthlyLoanPayment
[ 419.8059916  794.0542382  666.4066877 ...  945.427454   411.1682842
 1049.830407 ]
----------------------------------------
Value counts for column: TotalDebtToIncomeRatio
[0.1810772  0.38985245 0.46215697 ... 0.3572272  0.40867811 0.29800599]
----------------------------------------
Value counts for column: LoanApproved
[0 1]
----------------------------------------
Value counts for column: RiskScore
[49.  52.  54.  36.  44.  50.  42.4 61.  53.  47.  56.  63.  58.  33.6
 39.2 59.  48.  32.8 51.  46.4 60.  36.8 55.  62.  45.6 37.6 44.8 46.
 38.4 57.  34.4 64.  45.  49.6 41.  40.  43.2 40.8 41.6 28.8 35.2 66.
 65.  32.  70.  51.2 74.  48.8 67.  68.  73.  30.4 47.2 43.  42.  79.
 50.4 53.6 71.  52.8 69.  31.2 72.  55.2 76.  84.  54.4 29.6 75.  78.
 77.  39.  38. ]
----------------------------------------

In [ ]:
df['ApplicationDate'].unique()

array(['2018-01-01', '2018-01-02', '2018-01-03', ..., '2072-10-01',
       '2072-10-02', '2072-10-03'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
df['EmploymentStatus'].unique()

array(['Employed', 'Self-Employed', 'Unemployed'], dtype=object)

In [ ]:
a={
   'Unemployed':0,
   'Self-Employed':1,
   'Employed':2
}
df['EmploymentStatus']=df['EmploymentStatus'].map(a)

In [ ]:
df['EducationLevel'].unique()

array(['Master', 'Associate', 'Bachelor', 'High School', 'Doctorate'],
      dtype=object)

In [ ]:
b={
    'High School':0,
    'Associate':1,
    'Bachelor':2,
    'Master':3,
    'Doctorate':4
}
df['EducationLevel']=df['EducationLevel'].map(b)